In [72]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.model_selection
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

In [73]:
data=data=pd.read_excel('Copie de Coeur.xlsx')
df=data.copy()

In [74]:
#Vérifier s'il y à des doublons
df.duplicated().value_counts()

False    918
dtype: int64

In [75]:
#Vérifier s'il y a des données manquantes et suprimer
df.drop_duplicates()

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,110,264,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,144,193,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,130,131,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,130,236,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,138,175,0,Normal,173,Non,0.0,Ascendant,0

In [76]:
#vérifier s'il n'y a pas de constante (les variables n'est pas une variation de modalité) supprimer
df.nunique()

AGE             50
SEXE             2
TDT              4
PAR             67
CHOLESTEROL    222
GAJ              2
ECG              3
FCMAX          119
ANGINE           2
DEPRESSION      53
PENTE            3
CŒUR             2
dtype: int64

In [77]:
#supprimer les constante
#df=df.drop(['SEXE'],axis='columns')

In [78]:
df.SEXE.dtypes

dtype('O')

In [79]:
# normaliser les variables quantitatives chaque valeur/valeur max
def normalize(dataframe):
    for i in dataframe.columns:
        if(i in dataframe.select_dtypes("object").columns)==False:
            dataframe[i]=dataframe[i]/dataframe[i].max()
    return dataframe
normalize(df)

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,0.519481,homme,AA,0.70,0.479270,0.0,Normal,0.851485,Non,0.000000,Ascendant,0.0
1,0.636364,femme,DNA,0.80,0.298507,0.0,Normal,0.772277,Non,0.161290,Plat,1.0
2,0.480519,homme,AA,0.65,0.469320,0.0,ST,0.485149,Non,0.000000,Ascendant,0.0
3,0.623377,femme,ASY,0.69,0.354892,0.0,Normal,0.534653,Oui,0.241935,Plat,1.0
4,0.701299,homme,DNA,0.75,0.323383,0.0,Normal,0.603960,Non,0.000000,Ascendant,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,0.584416,homme,AT,0.55,0.437811,0.0,Normal,0.653465,Non,0.193548,Plat,1.0
914,0.883117,homme,ASY,0.72,0.320066,1.0,Normal,0.698020,Non,0.548387,Plat,1.0
915,0.740260,homme,ASY,0.65,0.217247,0.0,Normal,0.569307,Oui,0.193548,Plat,1.0
916,0.740260,femme,AA,0.65,0.391376,0.0,LVH,0.861386,Non,0.000000,Plat,1.0
917,0.493506,homme,DNA,0.69,0.290216,0.0,Normal,0.856436,Non,0.000000,Ascendant,0.0

In [80]:
#recorder variable qualitative
def recoder(column): 
    return column.astype('category').cat.codes

In [81]:

#permet de recoder toutes les variables de type objet
def recoder_df(data):
    for col in data.select_dtypes('object').columns:
        data[col] = recoder(data[col])
#serie.astype('category').cat.codes

    return data

recoder_df(df)

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,0.519481,1,0,0.70,0.479270,0.0,1,0.851485,0,0.000000,0,0.0
1,0.636364,0,3,0.80,0.298507,0.0,1,0.772277,0,0.161290,2,1.0
2,0.480519,1,0,0.65,0.469320,0.0,2,0.485149,0,0.000000,0,0.0
3,0.623377,0,1,0.69,0.354892,0.0,1,0.534653,1,0.241935,2,1.0
4,0.701299,1,3,0.75,0.323383,0.0,1,0.603960,0,0.000000,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,0.584416,1,2,0.55,0.437811,0.0,1,0.653465,0,0.193548,2,1.0
914,0.883117,1,1,0.72,0.320066,1.0,1,0.698020,0,0.548387,2,1.0
915,0.740260,1,1,0.65,0.217247,0.0,1,0.569307,1,0.193548,2,1.0
916,0.740260,0,0,0.65,0.391376,0.0,0,0.861386,0,0.000000,2,1.0
917,0.493506,1,3,0.69,0.290216,0.0,1,0.856436,0,0.000000,0,0.0

In [82]:
#créer un dataframe x qui va contenir de age a pente et y coeur
x=df.iloc[:,:-1]
y=df.CŒUR

In [83]:
#train_split() fonction on va lui donner en paramètre  x et y et le taux 0.3
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [87]:
#(regression logistique avec Linear_model)
model=LogisticRegression(max_iter=1000 ,random_state=42)
#Entrainement du model
model.fit(X_train,y_train)
#Retourne la performance
model.score(X_train,y_train)

0.8520249221183801

In [71]:
#construire la matrice de confusion la precision et la sensibilité